/*#navbarSupportedContent {*/
/*    color: #dc3545;*/
/*}*/
/*.navbar-expand-lg{*/
/*    !*color: #dc3545;*!*/
/*    background-color: #dc3545;*/

/*}*/

.dropdown-item{
    color: white;
    font-size: 20px;
    border-left: 1px darkgray solid;

}
.nav-item{
}

.btn-on:hover {
    background-color: dimgrey; /* Green */
    color: white;
}
.btn-on{
    font-size: 21px;
    width: 220px;
    height: 100px;
    border-radius: 12px;
    background-color: #b0e6df;
}
.btn-on-choose{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto 100px;
    transform: translate(-50%, -50%)

}

.btn-message{
    width: 100px;
    height: 35px;
}
.panel-title{
    margin: auto;
    font-size: 30px;
    color: #343a40;
    alignment: center;
}
.btn-reg{
    font-size: 24px;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    background-color: #b0e6df;}

/*.reg{*/
/*    margin: auto;*/
/*    border: 2px solid black;*/
/*}*/
/*.reg {*/
/*    background:rgba($form-bg,.9);*/
/*    padding: 40px;*/
/*    max-width:1000px;*/
/*}*/
.input-group{
    width: 400px;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #adb5bd;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 20px;
}

.login{
    width: 300px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    text-align: center;

}
.reg{
    width: 320px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    text-align: center;

}
.pat-list{
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #6c757d;*/
    /*font-size: 24px;*/
}
.homepage-status{
    font-size: 24px;
}
.btn-pat{
    font-size: 15px;
    width: 120px;
    height: 50px;
    border-radius: 12px;
    background-color: #b0e6df;
}
.btn-pub{
    font-size: 15px;
    width: 140px;
    height: 50px;
    border-radius: 12px;
    background-color: #b0e6df;
}

.btn-block{
    font-size: 12px;
    width: 110px;
    height: 30px;
    border-radius: 12px;
    background-color: firebrick;
    opacity: 0.5%;
    color: white;
    /*float: right;*/

}
.btn-patients{
    font-size: 15px;
    width: 200px;
    height: 35px;
    border-radius: 12px;
    background-color: cadetblue;
}

.btn-control{
    font-size: 15px;
    width: 250px;
    height: 35px;
    border-radius: 12px;
    background-color: cadetblue;
float: left;
}

.chat-message{
    border-radius: 5px;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.chat-message-sent{
    /*background-color: #b0e6df;*/
    width: 70vw;

}
.chat-message-reply{
    width: 60vw;
    margin-left: 10vw;
    /*background-color: #ced4da;*/


}
#chat-message-record{
    overflow-y: auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    /*border: 1px solid grey;*/
}


.profile-text {
    font-size: larger;
    /*margin-left: 1%;*/

}

.profile-image {
    float: left;
    margin-bottom: 10px;
    hight: 50;
}

/*.form-control{*/
/*    background-color: #b0e6df;*/
/*}*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



body {
    /*background-size: 200% 100% !important;*/
    /*animation: move 10s ease infinite;*/
    /*transform: translate3d(0, 0, 0);*/
    /*background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);*/
    /*background: linear-gradient(45deg, #adb5bd 10%, #b0e6df 90%);*/
    background-color: mintcream;

    /*height: 100vh*/
}
.message{
    font-size: larger;
    margin-top: 50px;
}
.btn-dialog{
    font-size: 14px;
    width: 300px;
height: 60px;
    font-family: monospace;
    text-align: left;
background-color: white;
}
.patients{
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 18px 4px;
}
.fir{
    color: #495057;
}
.sec{
    color: #6c757d;
}
.regist{
    border-collapse: separate;
    border-spacing: 18px 4px;
    font-size: 16px;
    font-weight: normal;
    color: #495057;

}

.form-control{
    width: 300px;
    height: 40px;
    font-size: 18px;

}



[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* custom styles */
/*body {*/
/*    padding: 4em;*/
/*    background: #e5e5e5;*/
/*    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;*/
/*}*/
/*label {*/
/*    display: block;*/
/*}*/
/*input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}*/

.heart {
    height: 200px;
    width: 200px;
    background-color: #f4959b;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.heart::after {
    content: "";
    height: 200px;
    width: 200px;
    background-color: #f4959b;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 100px;
}

.heart::before {
    content: "";
    height: 200px;
    width: 200px;
    background-color: #f4959b;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 0px;
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(0.5) rotate(-45deg);
    }
}

.inme{
    font-family: Baskerville, sans-serif;
    position: fixed; /* Фиксированное положение */
    left: 20px; bottom: 50px; /* Левый нижний угол */
}

