#navbarSupportedContent {
    color: #dc3545;
}
.navbar-expand-lg{
    /*color: #dc3545;*/
    background-color: #dc3545;

}

.dropdown-item{
    color: white;
    font-size: 20px;
    border-left: 1px darkgray solid;

}

.btn-on:hover {
    background-color: dimgrey; /* Green */
    color: white;
}
.btn-on{
    font-size: 24px;
    width: 300px;
    height: 120px;
    border-radius: 12px;
    background-color: powderblue;
}
.btn-on-choose{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto 100px;
    transform: translate(-50%, -50%)

}
.panel-title{
    margin: auto;
    font-size: 30px;
    color: #343a40;
    alignment: center;
}
.btn-reg{
    font-size: 24px;
    width: 360px;
    height: 50px;
    border-radius: 12px;
    background-color: #adb5bd;}

.reg{
    margin: auto;
    border: 2px solid black;
}
.reg {
    background:rgba($form-bg,.9);
    padding: 40px;
    max-width:1000px;
}
.input-group{
    width: 400px;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #adb5bd;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 20px;
}
.pat-list{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6c757d;
    /*font-size: 24px;*/
}
.homepage-status{
    font-size: 24px;
}
.btn-pat{
    font-size: 10px;
    width: 110px;
    height: 20px;
    border-radius: 12px;
    background-color: #adb5bd;
}
/*.form-control{*/
/*    background-color: #b0e6df;*/
/*}*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



body {
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    /*background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);*/
    background: linear-gradient(45deg, #adb5bd 10%, #b0e6df 90%);

    height: 100vh
}

/*.user {*/
/*    width: 90%;*/
/*    max-width: 340px;*/
/*    margin: 10vh auto;*/
/*}*/

/*.user__header {*/
/*    text-align: center;*/
/*    opacity: 0;*/
/*    transform: translate3d(0, 500px, 0);*/
/*    animation: arrive 500ms ease-in-out 0.7s forwards;*/
/*}*/

/*.user__title {*/
/*    font-size: $font-size;*/
/*    margin-bottom: -10px;*/
/*    font-weight: 500;*/
/*    color: white;*/
/*}*/

/*.form {*/
/*    margin-top: 40px;*/
/*    border-radius: 6px;*/
/*    overflow: hidden;*/
/*    opacity: 0;*/
/*    transform: translate3d(0, 500px, 0);*/
/*    animation: arrive 500ms ease-in-out 0.9s forwards;*/
/*}*/

/*.form--no {*/
/*    animation: NO 1s ease-in-out;*/
/*    opacity: 1;*/
/*    transform: translate3d(0, 0, 0);*/
/*}*/

/*.form__input {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 20px;*/
/*    font-family: $font-family;*/
/*    -webkit-appearance: none;*/
/*    border: 0;*/
/*    outline: 0;*/
/*    transition: 0.3s;*/

/*&:focus {*/
/*     background: darken(#fff, 3%);*/
/* }*/
/*}*/

/*.btn {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 20px;*/
/*    font-family: $font-family;*/
/*    -webkit-appearance: none;*/
/*    outline: 0;*/
/*    border: 0;*/
/*    color: white;*/
/*    background: color-primary;*/
/*    transition: 0.3s;*/

/*&:hover {*/
/*     background: darken($color-primary, 5%);*/
/* }*/
/*}*/

@keyframes NO {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}





/*?????????????*/
@import "css/css3";

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background:$body-bg;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration:none;
    color:$main;
    transition:.5s ease;
&:hover {
     color:$main-dark;
 }
}

.form {
    background:rgba($form-bg,.9);
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius:$br;
    box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
&:after {
     content: "";
     display: table;
     clear: both;
 }
li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
&:hover {
     background:$main-dark;
     color:$white;
 }
}
.active a {
    background:$main;
    color:$white;
}
}

.tab-content > div:last-child {
    display:none;
}


h1 {
    text-align:center;
    color:$white;
    font-weight:$thin;
    margin:0 0 40px;
}

label {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    color:rgba($white,.5);
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
.req {
    margin:2px;
    color:$main;
}
}

label.active {
    transform:translateY(50px);
    left:2px;
    font-size:14px;
.req {
    opacity:0;
}
}

label.highlight {
    color:$white;
}

input, textarea {
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid $gray-light;
    color:$white;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
&:focus {
     outline:0;
     border-color:$main;
 }
}

textarea {
    border:2px solid $gray-light;
    resize: vertical;
}

.field-wrap {
    position:relative;
    margin-bottom:40px;
}

.top-row {
&:after {
     content: "";
     display: table;
     clear: both;
 }

> div {
    float:left;
    width:48%;
    margin-right:4%;
&:last-child {
     margin:0;
 }
}
}

.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight:$bold;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:$main;
    color:$white;
    transition:all.5s ease;
    -webkit-appearance: none;
&:hover, &:focus {
              background:$main-dark;
          }
}

.button-block {
    display:block;
    width:100%;
}

.forgot {
    margin-top:-20px;
    text-align:right;
}