/*#navbarSupportedContent {*/
/*    color: #dc3545;*/
/*}*/
/*.navbar-expand-lg{*/
/*    !*color: #dc3545;*!*/
/*    background-color: #dc3545;*/

/*}*/

.dropdown-item{
    color: white;
    font-size: 20px;
    border-left: 1px darkgray solid;

}
.nav-item{
}

.btn-on:hover {
    background-color: dimgrey; /* Green */
    color: white;
}
.btn-on{
    font-size: 21px;
    width: 220px;
    height: 100px;
    border-radius: 12px;
    background-color: #b0e6df;
}
.btn-on-choose{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto 100px;
    transform: translate(-50%, -50%)

}

.btn-message{
    width: 100px;
    height: 35px;
}
.panel-title{
    margin: auto;
    font-size: 30px;
    color: #343a40;
    alignment: center;
}
.btn-reg{
    font-size: 24px;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    background-color: #b0e6df;}

/*.reg{*/
/*    margin: auto;*/
/*    border: 2px solid black;*/
/*}*/
/*.reg {*/
/*    background:rgba($form-bg,.9);*/
/*    padding: 40px;*/
/*    max-width:1000px;*/
/*}*/
.input-group{
    width: 400px;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #adb5bd;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 20px;
}

.login{
    width: 300px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    text-align: center;

}
.reg{
    width: 320px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    text-align: center;

}
.pat-list{
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #6c757d;*/
    /*font-size: 24px;*/
}
.homepage-status{
    font-size: 24px;
}
.btn-pat{
    font-size: 15px;
    width: 120px;
    height: 50px;
    border-radius: 12px;
    background-color: #b0e6df;
}
.btn-pub{
    font-size: 15px;
    width: 140px;
    height: 50px;
    border-radius: 12px;
    background-color: #b0e6df;
}

.btn-block{
    font-size: 12px;
    width: 110px;
    height: 30px;
    border-radius: 12px;
    background-color: firebrick;
    opacity: 0.5%;
    color: white;
    /*float: right;*/

}
.btn-patients{
    font-size: 15px;
    width: 200px;
    height: 35px;
    border-radius: 12px;
    background-color: cadetblue;
}

.btn-control{
    font-size: 15px;
    width: 250px;
    height: 35px;
    border-radius: 12px;
    background-color: cadetblue;
float: left;
}

.chat-message{
    border-radius: 5px;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.chat-message-sent{
    /*background-color: #b0e6df;*/
    width: 70vw;

}
.chat-message-reply{
    width: 60vw;
    margin-left: 10vw;
    /*background-color: #ced4da;*/


}
#chat-message-record{
    overflow-y: auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    /*border: 1px solid grey;*/
}


.profile-text {
    font-size: larger;
    /*margin-left: 1%;*/

}

.profile-image {
    float: left;
    margin-bottom: 10px;
    hight: 50;
}

/*.form-control{*/
/*    background-color: #b0e6df;*/
/*}*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



body {
    /*background-size: 200% 100% !important;*/
    /*animation: move 10s ease infinite;*/
    /*transform: translate3d(0, 0, 0);*/
    /*background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);*/
    /*background: linear-gradient(45deg, #adb5bd 10%, #b0e6df 90%);*/
    background-color: mintcream;

    /*height: 100vh*/
}
.message{
    font-size: larger;
    margin-top: 50px;
}
.btn-dialog{
    font-size: 14px;
    width: 300px;
height: 60px;
    font-family: monospace;
    text-align: left;
background-color: white;
}
.patients{
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 18px 4px;
}
.fir{
    color: #495057;
}
.sec{
    color: #6c757d;
}
.regist{
    border-collapse: separate;
    border-spacing: 18px 4px;
    font-size: 16px;
    font-weight: normal;
    color: #495057;

}

.form-control{
    width: 300px;
    height: 40px;
    font-size: 18px;

}

